* {
    margin: 0;
    padding: 0;
}

body{
    background: #c6c9c7;
}

.noneview{
    display: none;
}

.view{
    display: inline-block;
}

.modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
}
.img-carrito{
    width:200px;
    padding:20px;
} 
.modal-content{
    background-color: #ffffff;
}
.imgredes{
    width: 2rem;
}

.btn-categ-elim{
    width: 10rem;
    height: 3rem;
}